<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>SnowRoute: Avoid accidents and get there safely</title>

        <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

    </head>

    <body>
        <div class="container">
            <h1 class="strong">SnowRoute OUTPUT</h1>

            <p>Your risk compared to similar-sized roads: {{total_risk}}</p>
            <div id='map' style='width: 400px; height: 300px;'></div>
        </div>
    </body>    

    <script>
       
       var geojson = {{the_route|tojson}}

        mapboxgl.accessToken = 'pk.eyJ1IjoiYWNiYXR0bGVzIiwiYSI6ImNrNXptdWtnajA4ZGYzamxscmR5ZmV4ZGEifQ.e99budVtY2MsprEhvTNEtQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-104.991531,39.742043],
            zoom: 8
        });
        
        map.on('load', function() {
            map.addSource('route', {
                'type': 'geojson',
                'data': geojson
                });
            
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });

        //Working on below...
        /*
        map.on('load', function() {
            map.addSource('intesections', {
                'type': 'geojson',
                'data': geojson
                });
            
            map.addLayer({
                'id': 'intersections',
                'type': 'symbol',
                'source': 'intersections',
                'layout': {
                    'icon-size': 0.75,
                    'line-cap': 'round'
                },
                
            });
        });*/
    </script>
</html>