<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>SnowRoute: get there safely</title>

        <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

    </head>

    <body>
        <div class="container">
            <div class="jumbotron p-4">
                <h1 class="display-4">SnowRoute</h1>
                <p class="lead">Here are your route options. Drive Safe!</p>
            </div>

            <div id='map' style='width: 400px; height: 300px;'></div>

            <p>The green route is approximately {{risk_proportion}}% safer than the grey route.</p>
            <p>SnowRoute determines route risk based on the probability that<br>
            an encountered intersection is likely to have an accident.</p>

            <!--<p style='color:#228B22'>Total intersection probability: {{risk1}}</p>
            <p style='color:#808080'>Total intersection probability: {{risk2}}</p>-->
                
        </div>
    </body>    

    <script>
       
       var route1 = {{routeA|tojson}}
       var route2 = {{routeB|tojson}}
       var origin_pt = {{origin|tojson}}
       var destination_pt = {{destination|tojson}}

        mapboxgl.accessToken = 'pk.eyJ1IjoiYWNiYXR0bGVzIiwiYSI6ImNrNXptdWtnajA4ZGYzamxscmR5ZmV4ZGEifQ.e99budVtY2MsprEhvTNEtQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-104.991531,39.742043],
            zoom: 8
        });
        
        //route 2
        map.on('load', function() {
            map.addSource('route2', {
                'type': 'geojson',
                'data': route2
                });
            
            map.addLayer({
                'id': 'route2',
                'type': 'line',
                'source': 'route2',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#808080',
                    'line-width': 8
                }
            });
        });

        //route 1
        map.on('load', function() {
            map.addSource('route1', {
                'type': 'geojson',
                'data': route1
                });
            
            map.addLayer({
                'id': 'route1',
                'type': 'line',
                'source': 'route1',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#228B22',
                    'line-width': 8
                }
            });
        });
        
        map.on('load', function() {
            map.addSource('origin', {
                'type': 'geojson',
                'data': origin_pt
                });
            
            map.addLayer({
                'id': 'origin',
                'type': 'circle',
                'source': 'origin',
                'paint': {
                    'circle-radius': 8,
                    'circle-color': '#007cbf'
                },
                
            });
        });

        map.on('load', function() {
            map.addSource('destination', {
                'type': 'geojson',
                'data': destination_pt
                });
            
            map.addLayer({
                'id': 'destination',
                'type': 'circle',
                'source': 'destination',
                'paint': {
                    'circle-radius': 8,
                    'circle-color': '#FFA500'
                },
                
            });
        });


    </script>
</html>